body {
    color: #333;
    background-color: white;
    font-size: 14px;
}

/*统一设置a的样式*/
a {
    text-decoration: none;
    color: inherit;
    /*继承父元素样式*/
}

/* 清除浮动和高度塌陷 */
.clearfix::before .clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.clear-button-style {
    border: none;
    outline: none;
    color: #fff;
}
/* 按钮默认样式 */
.default-button-style {
    border: none;
    outline: none;
    color: #fff;
    background-color: #529DEF;
    padding: 6px 10px;
    cursor: pointer;
}

.default-button-style:hover{
    background-color: #3970aa;
}